.booksTitle{
    background: white;
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
}
body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
    width: 100%; /* Ширина таблицы */
}
td {
    padding: 5px; /* Поля в ячейках */
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
    border: 1px solid grey;
}
th {
    border: 1px solid grey;
    background: #ccc;
    text-align: center;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;

}

.col_h
{
    color: darkslateblue;
}

#col-d{
    background-color: blanchedalmond;
}
#container {
    width: 600px;
    margin: 0 auto;
}

/*.centerr{*/
/*    justify-content: center;*/
/*}*/


